.form{
    width: 250px;

    position: relative;
}

._input{
    width: 100%;
    height: 30px;
    background: transparent;
    color: #000;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1em;
    letter-spacing: 0.1em;
}

._span{
    position: absolute;
    left: 0;
    padding: 10px 0 5px;
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: all .3s;
}

._input:valid ~ ._span,
._input:focus ~ ._span{
    color:var(--thirdColor);
    transform: translateY(-16px);
    font-size: .65em;
}

._i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    overflow: hidden;
}

._i::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--primaryColor),var(--secondaryColor),var(--thirdColor),var(--fourColor),var(--primaryColor));
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 250px;
    }
}